node-red-flows/flows.json
[
    {
        "id": "1ad8de133fd18349",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "882ae47bda6c9632",
        "type": "mqtt in",
        "z": "1ad8de133fd18349",
        "name": "",
        "topic": "b6610545448/project",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0dcf0734e693d2ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 140,
        "wires": [
            [
                "f5fb9654dcd2ce80",
                "487b7621601be79a",
                "c39f8fe4bb85a8f7",
                "4beaaee4554d65cc",
                "01721569b0d46bde",
                "27cd6f326e54208a",
                "96115a3aab24da25"
            ]
        ]
    },
    {
        "id": "bd74bd9eaee8b007",
        "type": "debug",
        "z": "1ad8de133fd18349",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 220,
        "wires": []
    },
    {
        "id": "4ec8a30d94a73788",
        "type": "mysql",
        "z": "1ad8de133fd18349",
        "mydb": "0f8cdc61d89ca1f8",
        "name": "",
        "x": 760,
        "y": 260,
        "wires": [
            [
                "4b24321a26eda341"
            ]
        ]
    },
    {
        "id": "f5fb9654dcd2ce80",
        "type": "template",
        "z": "1ad8de133fd18349",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "insert into kidbright_project (temp, light, humidity) values ({{payload.temperature}}, {{payload.light}}, {{payload.humidity}})",
        "output": "str",
        "x": 580,
        "y": 260,
        "wires": [
            [
                "4ec8a30d94a73788",
                "bd74bd9eaee8b007"
            ]
        ]
    },
    {
        "id": "4b24321a26eda341",
        "type": "debug",
        "z": "1ad8de133fd18349",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 340,
        "wires": []
    },
    {
        "id": "bd245a6d2a808cbc",
        "type": "ui_chart",
        "z": "1ad8de133fd18349",
        "name": "",
        "group": "31117239c94fee4b",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperature History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "41fb10ca924b6ff0",
        "type": "debug",
        "z": "1ad8de133fd18349",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 80,
        "wires": []
    },
    {
        "id": "4beaaee4554d65cc",
        "type": "template",
        "z": "1ad8de133fd18349",
        "d": true,
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT DATE_FORMAT(time, '%Y-%m-%d %H:00:00') AS hour, AVG(temp) AS avg_temp, MIN(temp) AS min_temp, MAX(temp) AS max_temp\nFROM kidbright_project \nGROUP BY hour \nORDER BY hour\nDESC\nLIMIT 1",
        "output": "str",
        "x": 560,
        "y": 420,
        "wires": [
            [
                "1e974a5c807c2332"
            ]
        ]
    },
    {
        "id": "1e974a5c807c2332",
        "type": "mysql",
        "z": "1ad8de133fd18349",
        "d": true,
        "mydb": "0f8cdc61d89ca1f8",
        "name": "",
        "x": 760,
        "y": 420,
        "wires": [
            [
                "4f90160b626e341f",
                "37b3dd5ab98c11be",
                "8c95840e7a6e1437",
                "be3f4af94751807d"
            ]
        ]
    },
    {
        "id": "89ff0d8b53b92d94",
        "type": "ui_text",
        "z": "1ad8de133fd18349",
        "d": true,
        "group": "169413caeab20d82",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Average Light",
        "format": "{{msg.payload[0].avg_light}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 700,
        "wires": []
    },
    {
        "id": "01721569b0d46bde",
        "type": "template",
        "z": "1ad8de133fd18349",
        "d": true,
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT DATE_FORMAT(time, '%Y-%m-%d %H:00:00') AS hour, AVG(light) AS avg_light, MIN(light) AS min_light, MAX(light) AS max_light \nFROM kidbright_project \nGROUP BY hour \nORDER BY hour\nDESC\nLIMIT 1",
        "output": "str",
        "x": 540,
        "y": 620,
        "wires": [
            [
                "f6b5311166277c6a"
            ]
        ]
    },
    {
        "id": "f6b5311166277c6a",
        "type": "mysql",
        "z": "1ad8de133fd18349",
        "d": true,
        "mydb": "0f8cdc61d89ca1f8",
        "name": "",
        "x": 780,
        "y": 620,
        "wires": [
            [
                "82dfcc162604e1e6",
                "89ff0d8b53b92d94",
                "91b6b715eb157396",
                "a3e11ec306b106fc"
            ]
        ]
    },
    {
        "id": "82dfcc162604e1e6",
        "type": "debug",
        "z": "1ad8de133fd18349",
        "d": true,
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 660,
        "wires": []
    },
    {
        "id": "4f90160b626e341f",
        "type": "debug",
        "z": "1ad8de133fd18349",
        "d": true,
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 460,
        "wires": []
    },
    {
        "id": "37b3dd5ab98c11be",
        "type": "ui_text",
        "z": "1ad8de133fd18349",
        "d": true,
        "group": "80107daf9ef5cf2c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Average Temperature",
        "format": "{{msg.payload[0].avg_temp}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 400,
        "wires": []
    },
    {
        "id": "8c95840e7a6e1437",
        "type": "ui_text",
        "z": "1ad8de133fd18349",
        "d": true,
        "group": "80107daf9ef5cf2c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Minimum Temperature",
        "format": "{{msg.payload[0].min_temp}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 520,
        "wires": []
    },
    {
        "id": "be3f4af94751807d",
        "type": "ui_text",
        "z": "1ad8de133fd18349",
        "d": true,
        "group": "80107daf9ef5cf2c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Temperature",
        "format": "{{msg.payload[0].max_temp}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1010,
        "y": 560,
        "wires": []
    },
    {
        "id": "91b6b715eb157396",
        "type": "ui_text",
        "z": "1ad8de133fd18349",
        "d": true,
        "group": "169413caeab20d82",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Minimum Light",
        "format": "{{msg.payload[0].min_light}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 740,
        "wires": []
    },
    {
        "id": "a3e11ec306b106fc",
        "type": "ui_text",
        "z": "1ad8de133fd18349",
        "d": true,
        "group": "169413caeab20d82",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Light",
        "format": "{{msg.payload[0].max_light}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1000,
        "y": 780,
        "wires": []
    },
    {
        "id": "93a7787216da8ca0",
        "type": "ui_gauge",
        "z": "1ad8de133fd18349",
        "name": "",
        "group": "31117239c94fee4b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Temperature",
        "label": "Celcius",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 40,
        "wires": []
    },
    {
        "id": "487b7621601be79a",
        "type": "change",
        "z": "1ad8de133fd18349",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 80,
        "wires": [
            [
                "93a7787216da8ca0",
                "bd245a6d2a808cbc"
            ]
        ]
    },
    {
        "id": "c39f8fe4bb85a8f7",
        "type": "change",
        "z": "1ad8de133fd18349",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.light",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1100,
        "wires": [
            [
                "6bfac64150837d01",
                "6640c0b046f6c7c2"
            ]
        ]
    },
    {
        "id": "6bfac64150837d01",
        "type": "ui_gauge",
        "z": "1ad8de133fd18349",
        "name": "",
        "group": "31117239c94fee4b",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Light",
        "label": "Lux",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 1200,
        "wires": []
    },
    {
        "id": "6640c0b046f6c7c2",
        "type": "ui_chart",
        "z": "1ad8de133fd18349",
        "name": "",
        "group": "31117239c94fee4b",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Light History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "27cd6f326e54208a",
        "type": "template",
        "z": "1ad8de133fd18349",
        "d": true,
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT DATE_FORMAT(time, '%Y-%m-%d %H:00:00') AS hour, AVG(humidity) AS avg_humidity, MIN(humidity) AS min_humidity, MAX(humidity) AS max_humidity\nFROM kidbright_project \nGROUP BY hour \nORDER BY hour\nDESC\nLIMIT 1",
        "output": "str",
        "x": 540,
        "y": 840,
        "wires": [
            [
                "12ce8f54a35b54d6"
            ]
        ]
    },
    {
        "id": "2ce45a35c18e7a36",
        "type": "ui_text",
        "z": "1ad8de133fd18349",
        "d": true,
        "group": "89f9aa65de55eb0c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Average Humidity",
        "format": "{{msg.payload[0].avg_humidity}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 920,
        "wires": []
    },
    {
        "id": "12ce8f54a35b54d6",
        "type": "mysql",
        "z": "1ad8de133fd18349",
        "d": true,
        "mydb": "0f8cdc61d89ca1f8",
        "name": "",
        "x": 780,
        "y": 840,
        "wires": [
            [
                "d36dd9c3dab95d5f",
                "2ce45a35c18e7a36",
                "918844782bd9ff55",
                "7cad247a9e8aee5d"
            ]
        ]
    },
    {
        "id": "d36dd9c3dab95d5f",
        "type": "debug",
        "z": "1ad8de133fd18349",
        "d": true,
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 880,
        "wires": []
    },
    {
        "id": "918844782bd9ff55",
        "type": "ui_text",
        "z": "1ad8de133fd18349",
        "d": true,
        "group": "89f9aa65de55eb0c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Minimum humidity",
        "format": "{{msg.payload[0].min_humidity}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 960,
        "wires": []
    },
    {
        "id": "7cad247a9e8aee5d",
        "type": "ui_text",
        "z": "1ad8de133fd18349",
        "d": true,
        "group": "89f9aa65de55eb0c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max humidity",
        "format": "{{msg.payload[0].max_humidity}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1010,
        "y": 1000,
        "wires": []
    },
    {
        "id": "f7cecc7285a7a8ad",
        "type": "ui_chart",
        "z": "1ad8de133fd18349",
        "name": "",
        "group": "31117239c94fee4b",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidity History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "5c16588460030965",
        "type": "ui_gauge",
        "z": "1ad8de133fd18349",
        "name": "",
        "group": "31117239c94fee4b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Humidity",
        "label": "Celcius",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 1380,
        "wires": []
    },
    {
        "id": "96115a3aab24da25",
        "type": "change",
        "z": "1ad8de133fd18349",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1420,
        "wires": [
            [
                "5c16588460030965",
                "f7cecc7285a7a8ad"
            ]
        ]
    },
    {
        "id": "0dcf0734e693d2ab",
        "type": "mqtt-broker",
        "name": "CPE Broker yes",
        "broker": "iot.cpe.ku.ac.th",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0f8cdc61d89ca1f8",
        "type": "MySQLdatabase",
        "name": "",
        "host": "iot.cpe.ku.ac.th",
        "port": "3306",
        "db": "b6610545448",
        "tz": "+07:00",
        "charset": "UTF8"
    },
    {
        "id": "31117239c94fee4b",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "453636b3c2f1d8fb",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "169413caeab20d82",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "453636b3c2f1d8fb",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "80107daf9ef5cf2c",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "453636b3c2f1d8fb",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "89f9aa65de55eb0c",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "453636b3c2f1d8fb",
        "order": 4,
        "disp": true,
        "width": 6
    },
    {
        "id": "453636b3c2f1d8fb",
        "type": "ui_tab",
        "name": "Project Status",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]